.gift_suggestion_modal_bg{
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: darken($color-bg, 40%);
	position: fixed;
	overflow: scroll;
	z-index: 1;
}
.gift_suggestion_modal{
    background-color: #fff;
    padding: 40px;
    border-radius: 16px;
    max-width: 35%;
    margin: 30px auto;
    .gift-suggestion-header {
        clear: both;
        text-align: center;
        margin-bottom: 20px;
    }
    .item-list {
        max-height: 60vh;
        overflow: scroll;
        .gift-item {
            margin: 5px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
            border-bottom: 1px solid $color-bg;
    
            button{
                padding: 7px 20px;
                background-color: inherit;
                border: 1px solid darken($color-bg, 30%);
                border-radius: 5px;
            }
            .item-container {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }
    .action-container {
        margin: 15px 0;
    }
    %list-action-buttons{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 15px;
        border-radius: 10px;
        &:hover {
            border: 1px solid darken($color-primary, 20%);
            background-color: darken($color-primary, 20%);
            color: $color-white
        }
    }
    .cancel {
        @extend %list-action-buttons;
        border: 1px solid $color-black;
        background-color: inherit
    }
    .done {
        @extend %list-action-buttons;
        color: $color-white;
        border: 1px solid $color-primary;
        background-color: $color-primary
    }
}

@media only screen and (max-width: 768px) {
    .gift_suggestion_modal{
        border-radius: 0;
        min-width: 100%;
        min-height: 100vh;
        margin: 0 auto;
    }
    
}