@import 'config';
@import 'createWishlist';
@import 'giftSuggestionModal';
@import 'unauthenticated';
@import 'signup';
@import 'welcomeScreen';
@import 'sidebar';
@import 'dashboardHeader';
@import 'wishlistScreen';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-ms-overflow-style: none;
}

body{
	font-size: 14px;
	font-family: 'Noto Sans', sans-serif;
	background-color: darken($color-bg, 40%);
}


::-webkit-scrollbar {
	display: none;
}
button, a {
	color: $color-dark;
    &:hover {
        cursor: pointer;
    }
}
.close-btn {
    border: none;
    background: inherit;
}

.main-screen {
	margin-left: 255px;
	transition: 0.2s ease;
	position: relative;
	.screens-container {
		padding: 20px 30px;
	}
}

.backdrop{
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
}
.modal-layout {
	background-color: $color-white;
	border-radius: 10px;
	padding: 10px 65px 30px;
	max-width: 35%;
	position: absolute;
    top: 50%;
    left: 50%;
	margin: 0;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	.modal-header {
		text-align: center;
		margin: 23px 0 10px;
	}
}

@media only screen and (max-width: 768px) {
    .modal-layout {
		padding: 12px;
		max-width: 95%;
	}
	.main-screen {
		margin-left: 0px;
		max-height: 100vh;
	}
}
